language = "bash"
run = """
clear && source=$(pwd) &&mkdir -p ../build && cd ../build
echo "$(tput setaf 1)-- Running CMake build gen";
echo "-- Initial builds take a while - especially on Repl.it$(tput sgr 0)";
cmake -D CMAKE_BUILD_TYPE=Debug -G Ninja $source && cmake --build .
echo "$(tput setaf 1)-- Executing binary$(tput sgr 0)"
cd $source && ./battleships